.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.student-form {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

mat-dialog-content {
  max-height: 600px;
  overflow-y: auto;
}
